<!-- General Layout page -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- The title is fetched from the according .cshtml file -->
    <title>Dutch Treat: @ViewBag.Title</title>
    <!-- In razor you use ~/ for directing to the wwwroot folder -->
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Welcome to Dutch Treat</h1>
        <menu>
            <ul>
                <!--Instead of href links use helper tags, which had bean loaded in the MVC View Imports Page
                This ensures when moving around the views, they can be still found-->
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
            </ul>
        </menu>
    </header>
    <section>
        <h2>@ViewBag.Title</h2>
        <!-- Body of a .cshtml file is replacing the following renderbody function -->
        @RenderBody()
    </section>
    <footer>Copyright 2017 Dutch Treat LLC</footer>

    <script src="~/lib/jQuery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
    <!-- The following is a placeholder for scripts, which are required for specific sites; e.g. Contact.cshtml site-->
    @RenderSection("scripts", false)

</body>
</html>